.gcloudignore
.git
.gitignore
node_modules/
src/
public/
vite.config.ts
tsconfig.json
package.json
package-lock.json
README.md
tailwind.config.js
types.ts
index.html
index.tsx
.env.local
__pycache__/
/setup.cfg
app.yaml
!dist/